* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 15%;
}

img {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  background-color: cadetblue;
  border-bottom: 2px solid rgb(0, 89, 92);
}

.main-nav-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.main-nav-link {
  text-decoration: none;
  color: rgb(41, 41, 41);
  font-size: 1.4rem;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 48px;
  width: 48px;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

@media (max-width: 375px) {
  .logo {
    width: 30%;
    margin-left: 5px;
  }
  .btn-mobile-nav {
    display: block;
  }

  .header {
    position: relative;
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.9s ease;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
  }
}
